#LoginPage {
    /*align-items: center;*/
    padding-top: 10%;
    background-color: gray;
    height:90vh;
}

.text {
    text-align: center;
}

.riceBookTitle {
    text-align: center;
    font-size: 3em;
}

.LoginPagee {
    width:100vw;
    height:100vh;
    background-color: antiquewhite;
}


.googleBtn {
    text-transform : none;
    background-color: rgba(255, 255, 255, 0.9);
}

.googleImage {
    width: 20px;
    margin-right: 5px;
    margin-bottom: 3px;

}