.text {
    text-align: center;
}

.profileImage {
    max-width: 175px;
    max-height: 175px;
    aspect-ratio: 1/1;
}

#backButton {
    font-size: 1em;
    margin: .2em;
    top: 0px;
    right: 0px;
    position: absolute;
}

#title {
    right: 50%;
}

#header {
    background-color:antiquewhite;
}

.disabled {
    visibility: hidden;
}